.app {
    width: 1366px;
    height: 100vh;
    background-image: url("assets/bg.png");
    background-color: #101F25;
    background-repeat: no-repeat;

    padding-top: 52px;
    padding-left: 402px;
    padding-right: 402px;
}

hr {
    border-color: #767676;
    opacity: 0.2;
}